<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/style.css">

<meta property="og:type" content="website">
<meta property="og:url" content="https://cdoaero.club/">
<meta property="og:title" content="CDO Aeronautics Club">
<meta property="og:description" content="Check out CDO Aeronautics Club!">

<script src="/static/js/img.js" defer></script>
<script src="/static/js/index.js" defer></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<title>#[!title]</title>