<!DOCTYPE html>
<html lang="en">
    <head>
        #[head]
    </head>
    <body>
        <script>0</script>

        <div class="container">
            <header>
                #[header]
            </header>
    
            <main>
                <div class="content_main">
                    <h1 class="heading">Contact Us</h1>
                    
                    <p><i class="material-icons" style="font-size: 18px; position:relative; top: 3px;">email</i> Email us at: <a href="mailto:cdoaeronauticsclub@gmail.com">cdoaeronauticsclub@gmail.com</a></p>
                    <p><i class="material-icons" style="font-size: 18px; position:relative; top: 3px;">contacts</i> Check out our Instagram: <a href="https://instagram.com/@cdoaeronauticsclub">@cdoaeronauticsclub</a></p>
                </div>
            </main>
            
            <footer>
                #[footer]
            </footer>
        </div>
    </body>
</html>