<!DOCTYPE html>
<html lang="en">
    <head>
        #[head]
    </head>
    <body>
        <script>0</script>

        <div class="container">
            <header>
                #[header]
            </header>
    
            <main>
                <div class="center_content">
                    <h1>This site is currently under construction!</h1>
                    <p style="margin-bottom: 20px;">Have a look around, but know that almost everything currently here is a placeholder and is subject to change.</p>

                    <a href="https://github.com/CDO-Aeronautics-Club/cdoaero.club" target="_blank" rel="noopener noreferrer">
                        <img src="/static/files/contruction.png" alt="/static/files/contruction.png" class="construction">
                    </a>
                </div>
            </main>
            
            <footer>
                #[footer]
            </footer>
        </div>
    </body>
</html>