<!DOCTYPE html>
<html lang="en">
    <head>
        #[head]
    </head>
    <body>
        <script>0</script>

        <div class="container">
            <header>
                #[header]
            </header>
    
            <main>
                <div class="center_content">
                    <h1>This site is currently under construction!</h1>
                    <p style="margin-bottom: 20px;">Have a look around, but know that almost everything currently here is a placeholder and subject to change.</p>

                    <img src="/static/files/contruction.png" alt="/static/files/contruction.png" style="position: absolute; top: calc(50% - 128px); left: calc(50% - 128px)">
                </div>
            </main>
            
            <footer>
                #[footer]
            </footer>
        </div>
    </body>
</html>