<!DOCTYPE html>
<html lang="en">
    <head>
        #[head]
    </head>
    <body>
        <script>0</script>

        <div class="container">
            <header>
                #[header]
            </header>
    
            <main>
                <div class="center_content">
                    <h2>Thank you to our generous sponsors!</h2>
                    <p>If you would like to donate, please <a href="/contact">contact us</a>.</p>

                    <br>

                    <a href="https://www.woodcraft.com/" target="_blank" rel="noopener noreferrer">
                        <img src="/static/files/Woodcraft_Supply_logo.svg" alt="Woodcraft Logo" class="sponsor_img" style="width: 400px;">
                    </a>

                    <a href="https://saguarolaser.com" target="_blank" rel="noopener noreferrer">
                        <img src="/static/files/saguaro_laser_logo.svg" alt="Saguaro Laser Logo" class="sponsor_img">
                    </a>
                </div>
            </main>
            
            <footer>
                #[footer]
            </footer>
        </div>
    </body>
</html>