<!DOCTYPE html>
<html lang="en">
    <head>
        #[head]
    </head>
    <body>
        <script>0</script>

        <div class="container">
            <header>
                #[header]
            </header>
    
            <main>
                <div class="content_main" style="padding-left: 20px;">
                    <h2>Find updates about CDO Aeronautics Club here!</h2>
                    
                    <br>
                    
                    <ul class="updates_list">
                        <li>
                            <h3>9/29/24</h3>
                            <p style="margin-left: 10px;">Website launched!</p>
                        </li>
                    </ul>
                </div>
            </main>
            
            <footer>
                #[footer]
            </footer>
        </div>
    </body>
</html>